@include block(card) {
  margin: 16px 0;
  padding: 7px 12px;
  background-color: #ffffff;
  transition: 
    all 120ms ease,
    transform 250ms ease-out;
  border-radius: $radius;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  @if ($is-rounded) {
    border-radius: $radius;
  }

  @if ($is-shadowed) {
    box-shadow: $low-shadow;
  }

  @include when(compact) {
    margin: 5px 0;
  }

  @include when(no-shadow) {
    box-shadow: none;
    border: 1px solid $border-color;
  }

  @include when(bordered) {
    border-radius: 0 $radius $radius 0;
    border-left: 5px solid $primary;
  }

  @include element(header) {
    display: flex;
    align-items: flex-start;
    margin: 5px 0;

    @include mobile-l {
      align-items: center;
      flex-direction: row;
    }
  }

  @include element(title) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    font-weight: 500;
    text-decoration: none;

    & > * { margin: 2px 0 }

    @include mobile-l {
      align-items: center;
      flex-direction: row;
    }

    @include tablet {
      font-size: 16px;
    }

    @include when(clickable) {
      cursor: pointer;
      transition: all 0.1s;
      padding: 0 5px;
      margin-left: -5px;
      &:hover {
        background-color: lighten($color: $primary, $amount: 55%);
      }
    }
  }

  @include element(subtitle) {
    flex-basis: 100%;
    font-size: 12px;
    color: $grey800;
    font-weight: bold;

    @include tablet {
      font-size: 13px;
    }
  }

  @include element(select) {
    margin-right: 7px!important;
  }

  @include element(options) {
    flex-shrink: 0;
    margin-left: auto;

    @include when(mobile) {
      @include mobile-l {
        display: none;
      }
    }

    @include when(desktop) {
      display: none;

      @include mobile-l {
        display: inline-block;
      }
    }
  }

  @include element(footer) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: $text-secondary-color;
    font-size: 0.9em;
    margin-top: 12px;
    margin-bottom: 3px;

    & > * { margin: 2px 0 }
  }

  @include modifier(secondary) {
    border-color: $secondary;
  }

  @include modifier(success) {
    border-color: $success;
  }

  @include modifier(danger) {
    border-color: $danger;
  }

  @include modifier(warning) {
    border-color: $warning;
  }

  @include modifier(info) {
    border-color: $info;
  }

  @include modifier(grey) {
    border-color: $grey500;
  }
}
