.zona {
    font-size: 0.8em;
    font-weight: 500;
    color: white;
    padding: 5px 12px;
    border-radius: $pill;

    @include tablet {
        margin: 0 14px;
    }
}

.zona-A { 
    @extend .zona;
    background-color: $blue500;
}

.zona-B { 
    @extend .zona;
    background-color: $green500;
}

.zona-C { 
    @extend .zona;
    background-color: $indigo500;
}

.zona-D { 
    @extend .zona;
    background-color: $teal500;
}

.zona-E { 
    @extend .zona;
    background-color: $green800;
}

.zona-F { 
    @extend .zona;
    background-color: $red500;
}

.zona-G { 
    @extend .zona;
    background-color: $pink500;
}

.zona-H { 
    @extend .zona;
    background-color: $orange800;
}

.zona-I { 
    @extend .zona;
    background-color: $orange500;
}

.zona-J { 
    @extend .zona;
    background-color: $yellow800;
}