@import '../../scss/variables';

.linea-card-name {
    display: block;
    color: $primary;
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}

.linea-card-nucleos-name {
    text-transform: capitalize;
}