<div class="" *ngIf="isReady">
    <div class="linea-resumen">
        <h1 class="capitalize">Línea {{ name }} - {{ recorrido }}</h1>
        <p class="nucleos-list">{{ nucleosList }}</p>
        <span class="linea-resumen-datos">Paradas: {{ paradasInfo.length }}</span>
        <span class="linea-resumen-datos">Duración: {{ duracion }}</span>
        <span class="linea-resumen-datos">Saltos: {{ saltos }}</span>
    </div>
    <div>
        <span>
            <h3>Filtro</h3>
        </span>
        <div class="horarios-filtro">
            <div class="horarios-filtro-group relative" (clickOutside)="dropdownSalida = false">
                <label for="paradaSalida">Salida</label>
                <input
                    [(ngModel)]="filtroParadaSalida"
                    (input)="updateFiltroParadasSalida()"
                    (focus)="dropdownSalida = true"
                    class="input dropdown-input w100"
                    placeholder="Selecciona una parada" 
                    name="paradaSalida" 
                    type="text">
                <div class="dropdown-container w100" [ngClass]="{ 'visible': dropdownSalida }">
                    <li 
                        *ngFor="let parada of filtroParadasSalida"
                        (click)="setFiltroParadaSalida($event) ; dropdownSalida = false;">
                            {{ parada.name }}
                    </li>
                </div>
            </div>
            <div class="horarios-filtro-group relative" (clickOutside)="dropdownDestino = false">
                <label for="paradaDestino">Destino</label>
                <input
                    [disabled]="!filtroParadaSalida"
                    [(ngModel)]="filtroParadaDestino"
                    (input)="updateFiltroParadasDestino()"
                    (focus)="dropdownDestino = true"
                    class="input dropdown-input w100"
                    placeholder="Selecciona una parada" 
                    name="paradaDestino" 
                    type="text">
                <div class="dropdown-container w100" [ngClass]="{ 'visible': dropdownDestino }">
                    <li 
                        *ngFor="let parada of filtroParadasDestino"
                        (click)="setFiltroParadaDestino($event); dropdownDestino = false;">
                            {{ parada.name }}
                    </li>
                </div>
            </div>
            <!-- @TODO: Custom datepicker -->
            <div class="horarios-filtro-group">
                <label for="fecha">Fecha de salida</label>
                <input class="input w100" placeholder="Selecciona día" name="fecha" type="date">
            </div>
            <div class="horarios-filtro-group">
                <label for="hora">Hora de salida</label>
                <input class="input w100" placeholder="Selecciona horario" name="hora" type="time">
            </div>
        </div>
    </div>
    <div class="tabla-horarios">
        <div>
            <h2 id="ida">Horarios de ida</h2>
            <div *ngFor="let horario of tablaHorariosIda">
                <h3 [id]="'ida' + horario.frecuencia">{{ normalizeFrecuencias(horario.frecuencia) }}</h3>
                <div class="horarios-parada" *ngFor="let parada of horario.paradas">
                    <div class="horarios-parada-info">
                        <h4>{{ parada.name }}</h4>
                        <span class="zona-{{parada.zona}}">Zona {{ parada.zona }}</span>
                    </div>
                    <span class="hora" *ngFor="let hora of parada.horario">{{ hora }} </span>
                </div>
            </div>
        </div>
        <div *ngIf="hasVuelta">
            <h2 id="vuelta">Horarios de vuelta</h2>
            <div *ngFor="let horario of tablaHorariosVuelta">
                <h3 [id]="'vuelta' + horario.frecuencia">{{ normalizeFrecuencias(horario.frecuencia) }}</h3>
                <div class="horarios-parada" *ngFor="let parada of horario.paradas">
                    <div class="horarios-parada-info">
                        <h4>{{ parada.name }}</h4>
                        <span class="zona-{{parada.zona}}">Zona {{ parada.zona }}</span>
                    </div>
                    <span class="hora" *ngFor="let hora of parada.horario">{{ hora }} </span>
                </div>
            </div>
        </div>
    </div>
</div>
