@import 'scss/normalize';
@import 'scss/variables';

body {
    color: $text;
    background-color: #FDFDFD;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 48px auto;
}

.card {
    background-color: #FFF;
    padding: 12px;
}